body {
  display: grid;
  grid-template-rows: 100px auto;
  gap: 20px;
  height: 100vh;
  margin: 0;
  background: #2e2c54;
  color: #a2ebcd;
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

main-header {
  border-bottom: 3px solid #fc9228;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
}

main-header > div {
  font-size: 3em;
  color: #f8ce22;
  letter-spacing: 0.2em;
}

main-content {
  padding-left: 20px;
  padding-right: 20px;
}

actions {
  display: grid;
  grid-template-rows: 30px auto;
  gap: 10px;
}

action {
  font-size: 20px;
}

action > div {
  cursor: pointer;
}
